.nav-item a {
    color: #ffffff;
}

.nav-item a:hover {
    color: #198754;
}

#navdrop{
    color: #ffffff;
}
.dropdown-menu a{
    color: #2e2e2e;
}

.dropdown-item a:hover{
    color: #198754;
}


.cards-autor{
    display: flex;
    gap: 40px;
    justify-content: center;
}

.navbar-toggler{
    background-color: #ffffff;
}


.form-pesquisa{
    margin-bottom: 20px;
}